<div class="container-fluid" style="background-color:darkcyan;">
    <div class="d-inline-block">
      <p class="d-inline" style="color: white; padding-right: 1cm;"><i class="fas fa-phone-volume"></i> 012 547 3931</p>
      <p class="d-inline" style="color:white;"> <i class="fas fa-mobile-alt" style=color:white></i> 082 806 1575</p>
    </div>
    <div class="float-right d-inline"> 
  <a routerLink="https://www.facebook.com/cannykidsacademy/"><i class="fab fa-facebook-f" style="color: white;"></i></a>
    </div>
    </div>
    <!--Nav-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
          <a class="nav-link align-text-left"><img src="assets/Images/LogoGirl.jpg" width="100" height="70"><img src="assets/Images/Logo.jpg" width="100" height="70"><img src="assets/Images/LogoBoy.jpg" width="100" height="70"> <span class="sr-only"></span></a>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active ">
              <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/About">Our School</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Info">Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#ContactUs">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/LoginPage">Canny Communicator Portal</a>
            </li>
          </ul>
        </div>
      </nav>

      <!--Heading-->
    <div class="row">
    <div class="carousel-item active" id="homeslides">
        <div style="padding-top: 3cm;">
            <h4 class="text-center" style="font-size: 50px;">Information</h4>
        <h3 class="text-center" style="background-color: aliceblue; font-size: 5vw;">ALL ABOUT CANNY KIDS</h3> 
          </div>
      </div>
    </div>
<br>
<div class="row text-center">
  <div class="row">
  <div class="col">
  <img src='assets/Images/Robot.gif' style="height: 40vw;" />
</div>
</div>
  <div class="col">
    <h5 class="text-center">JOIN OUR FAMILY</h5>
    <br>
    <button class="btn btn-outline-info btn-lg" routerLink="/ApplyToRegister"> APPLY TO REGISTER <img src="https://img.icons8.com/officel/80/000000/parse-from-clipboard.png"/></button>
    <h5 class="text-center">IMPORTANT THINGS YOU MIGHT WANT TO KNOW</h5>
<div class="row text-center">
  
  <div class="col d-block">
    <button class="btn btn-outline-info d-inline btn-lg"> DOWNLOAD OUR YEAR PROGRAM <img src="https://img.icons8.com/dusk/64/000000/planner.png"/></button>
<br>
<br>
    <button class="btn btn-outline-info d-inline btn-lg"> DOWNLOAD THE YEARLY FEE STRUCTURE <img src="https://img.icons8.com/dusk/64/000000/expensive.png"/></button>
</div>
</div>

  </div>
</div>
<br>


<br>
    <div class="container">
        <h2 class="text-center"> ABOUT OUR CLASSES</h2>
        <div class="row">
          <div class="col">
            <div>
                <img class="float-right" style="height: 100px;" src="/assets/Images/TeddyBear.png">
            </div>
          </div>
            <div class="col float-left">
              <br/>
              <h5>TEDDY BEAR CLASS</h5>
              <p> For Ages 2-3. Includes development of language,communication and gross motor skills. Recognition of primary colour, numbers and basic shapes</p>
            </div>
         
        </div>
        <div class="row">
          <div class="col float-right text-right">
            <div>
              <br/>
              <h5>LION CLASS</h5>
              <p> For Ages 3-4. Includes exposure to a greater variety of experiences with more emphasis on development on small motor skills like using a scissor and holding a cryon and pencil</p> 
            </div>
          </div>
            <div class="col float-left"> 
              <img style="height: 100px;" src="/assets/Images/Lion.png">
            </div>
          </div>
          
          <div class="row">
              <div class="col float-right">
                <img  class="float-right" style="height: 100px;" src="/assets/Images/Dolphin.jpg">
              </div>
        <div class="col">
          <h5>DOLPHIN CLASS</h5>
              <p> For Ages 4-5. Includes development of a number of concepts through counting objects in a meaningfull way and the development of writing skills by focusing on a small motor development activities</p> 
            </div>
         
          </div>
        <div class="row">
          <div class="col float-right text-right" >
           
              <br/>
              <h5 >GIRAFFE CLASS</h5>
              <p >For Ages 5-6. Includes building on knowlege gaind in previous classes with emphasis on reasoning, problem solving, mathmatical and nurting skills</p> 
            
          </div>
            <div  class="col float-left" >
              <img style="height: 100px;" src="/assets/Images/Giraffe.png">
            </div>
         
        </div>
        </div>




        <!--div class=col-sm-12>
          <div class="row text-center">
            <div class="col-sm-6">
              <div class="col">
                  <img style="height: 100px;" src="/assets/Images/TeddyBear.png">
              </div>
              <div class="col">
                <p> 2-3 Development of language,communication and gross motor skills. Recognition of primary colour, numbers and basic shapes</p>
              </div>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-sm-6">
              <div class="col">
                <p>3-4 Exposure to a greater variety of experiences with more emphasis on development on small motor skills like using a scissor and holding a cryon and pencil</p> 
              </div>
              <div class="col">
                  <img style="height: 100px;" src="/assets/Images/Giraffe.png">
              </div>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-sm-6">
            <div class="col">
                <img style="height: 100px;" src="/assets/Images/Dolphin.jpg">
            </div>
            <div class="col">
              <p>4-5 Development of a number of concepts through counting objects in a meaningfull way and the development of writing skills by focusing on a small motor development activities</p>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-6">
            <div class="col">
            </div>
            <div class="col">
                <div class="row text-center">
                    <div class="col">
                        <img style="height: 100px;" src="/assets/Images/Giraffe.png">
                    </div>
                    <div class="col">
                      <p>5-6 Build on knowlege gaind in previous classes with emphasis on reasoning, problem solving, mathmatical and nurting skills</p>
                    </div>
                </div> 
            </div>
          </div>
        </div-->
        
        
        
    

      <!--Bottom Part-->
      <div class="container-fluid" style="background-color:darkcyan;" id="ContactUs">
        <div class="row">
          <div class="col" style="color: aliceblue; font-size: 20px; padding-left: 2cm;">
            <h4 class="text-center">CONTACT US:</h4>
            <p  class="text-left"><strong>Cell:</strong> 082 806 1575</p>
            <p  class="text-left"><strong>Telephone: </strong> 
              012 547 3931</p>
              <p  class="text-left"><strong>Address: </strong> 
                60 Amandelboom Rd,
                Doornpoort, Pretoria, 0017</p>
          </div>
          <div class="col text-center" style="color: aliceblue;">
            <h4>PAY US A VISIT:</h4>
            <iframe class="img-fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.424146984133!2d28.25320531501876!3d-25.657230983684258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ebfde5fb45505b3%3A0xc4eaff9586e9ea8a!2s60%20Fir%20Pl%2C%20Doornpoort%2C%20Pretoria%2C%200186!5e0!3m2!1sen!2sza!4v1592343619269!5m2!1sen!2sza" width="500" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
          <div class="col text-center" style="color: aliceblue;">
            <h4 class="text-center">JOIN OUR FAMILY:</h4>
            <br>
            <button class="btn btn-outline-light btn-lg" routerLink="/ApplyToRegister"> APPLY TO REGISTER <img src="https://img.icons8.com/officel/80/000000/parse-from-clipboard.png"/></button>
          </div>
        </div>
         </div>