.lowpad{
    padding:0.5cm;
}

.iclassblue{
    color: teal;
    font-size: 150%;
}

.iclassred{
    color: red; 
    font-size: 150%;
}

.icobox{
    margin:auto;
}

.modalfoot{
    margin: auto;
    border: none;
}