<link routerLink="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="wrapper">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="form-group">
      <h1 class="h1"><a class="nav-link logotext" >Canny Communicator</a></h1>
        </div>

    <!-- Login Form -->
    <form #ResetForm="ngForm" (ngSubmit)="CheckMatch()">
      <div class="form-group">
      <input 
      type="password" 
      id="password" 
      class="form-control" 
      name="Password" 
      placeholder="New password"
      #Password = "ngModel"
      required
      pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,}$"
      minlength="6"
      maxlength="20"
      [(ngModel)]= "NewPassword.Value"
      >
      <div *ngIf = "Password.touched && !Password.valid" class="text-danger">
        <div *ngIf="Password.errors.required">This field is required, please enter a value</div>
        <div *ngIf="Password.errors.minlength">A password should be at least {{Password.errors.minlength.requiredLength}} characters</div>
        <div *ngIf="Password.errors.maxlength">The entered password is too long.</div>
        <div *ngIf="Password.errors.pattern">Passwords must contain at least one letter, one number and one of these special characters: !@#$%&*?.</div>

      </div>
      </div>
      <div class="form-group">
        <input 
        type="password" 
        id="confirmpassword" 
        class="form-control" 
        name="ConfirmPassword" 
        placeholder="Confirm Password"
        #ConfirmPassword = "ngModel"
        required
        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,}$"
        minlength="6"
        maxlength="20"
        [(ngModel)]= "ConfirmNewPassword"
        >
        <div *ngIf = "ConfirmPassword.touched && !ConfirmPassword.valid" class="text-danger">
          <div *ngIf="ConfirmPassword.errors.required">This field is required, please enter a value</div>
          <div *ngIf="ConfirmPassword.errors.minlength">A password should be at least {{ConfirmPassword.errors.minlength.requiredLength}} characters</div>
          <div *ngIf="ConfirmPassword.errors.maxlength">The entered password is too long.</div>
          <div *ngIf="ConfirmPassword.errors.pattern">Passwords must contain at least one letter, one number and one of these special characters: !@#$%&*?.</div>
        </div>
        </div>
      <button type="submit"  class="btn btn-info" [disabled]="!ResetForm.form.valid"> Reset Password </button>
      <button [hidden]="true" data-toggle="modal" data-target="#ErrorModal" id="modalButton"></button>
      <br />
      <br />
    </form >

     <!--Error Modal-->
  <div class="modal backdrop " *ngIf = "!passwordsMatch" id="ErrorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="icon-box modalicon">
            <img src="https://img.icons8.com/dusk/64/000000/error.png"/>
          </div>
          <br>				
        <h4 class="modal-title">Error</h4>
          <p style="text-align: center;">Username or Password is incorrect. Please try again.</p>
        </div>
        <div class="modal-footer"style="border:none;">
          <button type="button" class="btn btn-error" data-dismiss="modal">OK</button>
        </div>
        </div>
        </div>
      </div>

    <!-- Reset Passowrd -->
    <div id="formFooter">
      <div *ngIf = "ResetSuccess">
      <p class="text-center">Your password was reset successfully.</p>
      <button type="button" class="btn btn-success" routerLink = "/LoginPage">Login</button>
      </div>
    </div>

  </div>
</div>
