<div class="container-fluid bg-light" *ngIf="isAdmin">
  <h2 class="h2"> <img class="float-right imageclassname"  src="assets/Images/LogoGirl.jpg" width="200px" height="90px"/>
    <img class="float-right imageclassname"  src="assets/Images/Logo.jpg" width="200px" height="90px"/>
    <img class="float-right imageclassname"  src="assets/Images/LogoBoy.jpg" width="200px" height="90px"/> 
    <a class="nav-link logotext" routerLink="/AdminHome">Canny Communicator</a></h2>
  <h6 class="h6 indent">Admin Portal</h6>
  <hr />

  <!--Nav-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/FamilyAccountList">Family Accounts <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Employees
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/EmployeeList">Manage Employees</a>
              <a class="dropdown-item" routerLink="/AllocateEmployeeDuty">Manage employee Duties</a>
            </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/ApplicationsList" >
                Applications
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/MealPlan"> Meal Plans</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/SchoolFeePackage"> School Fees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Document">Documentation</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Administration
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/EmployeeType">Manage Employee Types</a>
                <a class="dropdown-item" routerLink="/Duties">Manage Duties</a>
                <a class="dropdown-item" routerLink="/UserType">Manage User Types</a>
                <a class="dropdown-item" routerLink="/Class">Manage Classes</a>
                <a class="dropdown-item" routerLink="/ClassGrade">Manage Class Grades</a>
                <a class="dropdown-item" routerLink="/ProgressReportTypes">Manage Progress Report Types</a>
                <a class="dropdown-item" routerLink="/ProgressReportTestCategories">Manage Progress Report Test Categories</a>
                <a class="dropdown-item" routerLink="/ExtraMural">Manage Extra-Murals</a>
                <a class="dropdown-item" routerLink="/ExtraMuralCompany">Manage Extra-Mural Companies</a>
                <a class="dropdown-item" routerLink="/FoodItem">Manage Food Items</a>
              </div>
            </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavDropdown" class="float-right" style="padding-right: 75px;">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="nav-item nav-link float-right" routerLink="/ChangePassword">Change password</a>
              <br>
              <br>
            </div>
          </li>
        </ul>
      </div> 
    </nav>
  <!-- End of nav bar -->

   <!-- Teacher navbar -->
  <!-- Navbar -->
<div class="container-fluid bg-light" *ngIf="!isAdmin">
  <h2 class="h2">
    <img class="float-right imageclassname"  src="assets/Images/LogoGirl.jpg" width="200px" height="90px"/>
    <img class="float-right imageclassname"  src="assets/Images/Logo.jpg" width="200px" height="90px"/>
    <img class="float-right imageclassname"  src="assets/Images/LogoBoy.jpg" width="200px" height="90px"/> 
    <a class="nav-link logotext" routerLink="/TeacherHome">Canny Communicator</a></h2>
  <h6 class="h6 indent">Teacher Portal</h6>
  <hr />
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/PupilAbsences">Absences<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/CaptureReports">Progress Reports</a>
      </div>
    </div>
  </nav>

 
  </div>

  <br>
  <h1>SEND MESSAGE</h1>
  <br>
  <div id="SendMess" class="container-fluid bg-light" style=" float : center; margin-left : 10px; margin-top : 10px;">
    <h5 style="text-align:center;">Who would you like to send a message to?</h5>
    <div class="text-center" >
      <button class="btn btn-outline-secondary" type="button" style="position:relative;
        width:300px; border: 10px;" (click)="isDisabledc=false" (click)="isDisabledp=true" (click)="isDisabledp=true" (click)="text=null">Class</button>
      <button class="btn btn-outline-secondary" type="button" style="position:relative; width: 300px; border: 10px; " (click)="isDisabledp=false" (click)="isDisabledc=true" (click)="text=null">Specific Parent</button>
    </div>
  </div>
  <br>
  <!--panel-->
  <div class="container-fluid bg-light" style=" float : center; margin-left : 10px; margin-top : 10px;">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-md-0">
        <div class="card">
          <div class="card-body" >
            <form #SendMessageCForm="ngForm">
              <h4 class="card-title" id="CardTitle">CLASS</h4>
              <p>Please select which classes you would like to send a message to.</p>
              <!--div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" [disabled] = "isDisabledc">
                <label class="form-check-label" for="exampleCheck1" (change)="getrecipientclist(-1)">Select All</label>
              </div-->
              <div class="form-check" *ngFor ="let class of classlist">
                <input type="checkbox" class="form-check-input" #SelectallclassCheck id="SelectallclassCheck" (change)="getrecipientclist(class.ClassID)" [disabled] = "isDisabledc">
                <label class="form-check-label" for="exampleCheck1" >{{class.Name}}</label>
              </div>
              <br>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Content of Message</label>
                <textarea type="text" #Cmessage="ngModel" [(ngModel)]="cmessage" (change) = "log(Cmessage)" name="cmessage" class="form-control" id="Cmessage" aria-label="Username" required minlength="2" maxlength="200" (change) = "log(Cmessage)" [disabled] = "isDisabledc" [value]="text"></textarea>
                <div *ngIf="Cmessage.touched && !Cmessage.valid">
                  <div *ngIf = "Cmessage.errors?.required" class="text-danger">This field is required</div>
                  <div *ngIf = "Cmessage.errors?.minlength" class="text-danger">This input should be minimum {{Cmessage.errors.minlength.requiredLength}}</div>
                  <div *ngIf = "Cmessage.errors?.maxlength" class="text-danger">This input exceeds the length limit </div>
                </div>
              </div>
              <button type="button" style="float: right;"  [disabled]="!SendMessageCForm.form.valid"  data-dismiss="modal" data-toggle="modal" data-target="#Success" class="btn btn-dark" (click)="onSendMessage()">Send Message</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-6" disabled="true">
        <div class="card">
          <div class="card-body" disabled="true">
            <form #SendMessagePForm="ngForm">
              <h4 class="card-title" id="CardTitle">PARENT</h4>
              <p class="card-text">Please enter the name of a pupil whose parent should recieve this message.</p>
              <div class="input-group mb-3">
                <input type="text" placeholder="Search.." name="searchcriteria" type="text" #SearchCriteria="ngModel" [(ngModel)]="searchcriteria" class="form-control" id="SearchCriteria" aria-label="Username">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-outline-secondary" (click)="onSearch()"><i class="fas fa-search"data-toggle="modal" data-target="#SearchModal"></i></button>
                </div>
              </div>
              <!--div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" [disabled] = "isDisabledp">
                <label class="form-check-label" for="exampleCheck1">Select All</label>
              </div-->
              <div class="form-check"  *ngFor ="let pupil of pupillist" required>
                <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="getrecipientplist(pupil.ChildID)" [disabled] = "isDisabledp">
                <label class="form-check-label" for="exampleCheck1" value="pupil.ChildID">{{pupil.NameUsed}} {{pupil.Surname}}</label>
              </div>
              <br>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Content of Message</label>
                <textarea type="text" #Pmessage="ngModel" [(ngModel)]="pmessage" (change) = "log(Pmessage)" name="pmessage" class="form-control" id="Pmessage" aria-label="Username" required minlength="2" maxlength="200" (change) = "log(Pmessage)" [disabled] = "isDisabledp" [value]="text"></textarea>
                <div *ngIf="Pmessage.touched && !Pmessage.valid">
                  <div *ngIf = "Pmessage.errors?.required" class="text-danger">This field is required</div>
                  <div *ngIf = "Pmessage.errors?.minlength" class="text-danger">This input should be minimum {{Pmessage.errors.minlength.requiredLength}}</div>
                  <div *ngIf = "Pmessage.errors?.maxlength" class="text-danger">This input exceeds the length limit </div>
                </div>
              </div> 
              <button type="button" style="float: right;"  [disabled]="!SendMessagePForm.form.valid"  data-dismiss="modal" data-toggle="modal" data-target="#Success" class="btn btn-dark" (click)="onSendMessage()">Send Message</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--Sucessful Modal-->
  <div class="modal backdrop fade in" id="Success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="icon-box modalicon">
            <img src="https://img.icons8.com/dusk/64/000000/checked.png"/>
          </div>
          <br>				
          <h4 class="modal-title">Successful</h4>
          <p style="text-align: center;">Your message has been sent successfully.</p>
        </div>
        <div class="modal-footer"style="border:none;">
          <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>