.Geraffe
{
    background-color: yellow;
}

.Dolphin
{
    background-color: rgb(83, 191, 241);
}

.Lion
{
    background-color: red;
}

.Bear
{
    background-color: rgb(150, 96, 26);
}

.blue
{
    background-color: lightblue;
}