<link routerLink="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="wrapper">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="form-group">
      <h1 class="h1"><a class="nav-link logotext" >Canny Communicator</a></h1>
        </div>

    <!-- Login Form -->
    <form #ResetForm="ngForm" (ngSubmit)="ResetPass()">
      <div class="form-group">
      <input 
      type="text" 
      id="email" 
      class="form-control" 
      name="Email" 
      placeholder="Email Address"
      #Email = "ngModel"
      required
      minlength="6"
      maxlength="50"
      pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      [(ngModel)]= "EmailValue.Value"
      >
      <div *ngIf = "Email.touched && !Email.valid" class="text-danger">
        <div *ngIf="Email.errors.required">This field is required, please enter a value</div>
        <div *ngIf="Email.errors.minlength">A Email should be at least {{Email.errors.minlength.requiredLength}} characters</div>
        <div *ngIf="Email.errors.maxlength">The entered username is too long.</div>
        <div *ngIf="Email.errors.pattern">The Email address entered is invalid. Please enter a valid email.</div>
      </div>
      </div>
      <input type="submit" class="btn btn-info" [disabled]="!ResetForm.form.valid" value="Send Email">
      <button type="button" [hidden]="true" id="ModalButton" data-toggle="modal" data-target="#ErrorModal"></button>
      <button type="button" id="successModalButton" data-toggle="modal" data-target="#ConfirmModal" [hidden]="true"></button>
      <br />
      <br />
    </form>

     <!--Error Modal-->
  <div class="modal backdrop " id="ErrorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="icon-box modalicon">
            <img src="https://img.icons8.com/dusk/64/000000/error.png"/>
          </div>
          <br>				
        <h4 class="modal-title">Error</h4>
          <p style="text-align: center;">Email does not exist on the system, please try again.</p>
        </div>
        <div class="modal-footer"style="border:none;">
          <button type="button" class="btn btn-error" data-dismiss="modal">OK</button>
        </div>
        </div>
        </div>
      </div>

      <!--Success Modal-->
<div class="modal backdrop fade in" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="icon-box modalicon">
          <img src="https://img.icons8.com/color/64/000000/task-completed.png"/>
        </div>
        <br>				
      <h4 class="modal-title">Successul</h4>
				<p style="text-align: center;">An email has been sent to your email address which you can use to reset your password.</p>
			</div>
      <div class="modal-footer"style="border:none;">
				<button type="button" class="btn btn-info" data-dismiss="modal" [routerLink]="['/']">OK</button>
			</div>
      </div>
      </div>
    </div>

    <!-- Reset Passowrd -->
    <div id="formFooter">
      <p class="text-center">An email will be sent to this address allowing you to reset your password.</p>
    </div>

  </div>
</div>